/* styles.css */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f2; /* Light pink background */
}

/* Navigation Styles */
nav {
    background-color: #ff66b3; /* Pink navigation bar */
    padding: 1rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Home Page Styles */
#home {
    text-align: center;
    padding: 4rem 0;
}

#home h1 {
    font-size: 3rem;
    color: #ff66b3; /* Pink text */
}

#home p {
    font-size: 1.2rem;
    color: #333; /* Dark text */
    margin-bottom: 2rem;
}

#home .btn {
    background-color: #ff66b3; /* Pink button */
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#home .btn:hover {
    background-color: #ff3385; /* Darker pink on hover */
}

/* Footer Styles */
footer {
    background-color: #ff66b3; /* Pink footer */
    color: #fff;
    text-align: center;
    padding: 1rem;
}


/* Navigation Styles */
nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Button Styles */
.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.brandy{
    margin: auto ;
}
.brand__image{
    
    display: inline; margin: 0 5px ;  width: 100px; height: 200px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
